
ConceptDevelopmentAssessment/Logs/shadercompiler-UnityShaderCompiler.exe2.log
ConceptDevelopmentAssessment/Logs/shadercompiler-UnityShaderCompiler.exe1.log
ConceptDevelopmentAssessment/Logs/shadercompiler-UnityShaderCompiler.exe0.log
ConceptDevelopmentAssessment/Library/SourceAssetDB-lock
ConceptDevelopmentAssessment/Library/SourceAssetDB
ConceptDevelopmentAssessment/Library/Search/transactions.db
ConceptDevelopmentAssessment/Library/ArtifactDB-lock
ConceptDevelopmentAssessment/Library/ArtifactDB
